* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: blue;
  --secondary-color: white;
  --tertiary-color: teal;
  --primary-color-transparent:var(--primary-color);
  --secondary-color-transparent:var(--secondary-color);
}

body {
    font-family: 'Staatliches', sans-serif;
    color: var(--secondary-color)
  }

  header {
    padding: 20px 35px;
    background-image: url('../images/four-nives-mosiac.png');
    background-position: 80%;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: 200;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow:none;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
  }

#home {
  background-image: url('../images/four-nives-mosiac.png');
  height: 600px;
  background-size:cover;
  background-position:center;
  position: relative;
  text-align: right;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

.hero {
  background-position: 80%;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero-info {
  width: 35%;
  text-align: left;
  margin: 3.5%;
  color: #fff;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
}

.hero-info h2 ul {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero-diag {
  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color-transparent);
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero-diag h3 {
  font-size: 24px;
  margin: 0;
}

#shaving-sharp {
    background-image: url('../images/carbon-steel.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }

#send-in-service {
    background-image: url('../images/van-go-sharpies.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }

#pop-up-shop {
    background-image: url('../images/carbon-steel.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }

